.header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: white;
  border-bottom: solid 0.1rem white;
}

.currencyItem {
  margin: 0 2rem;
}

.text {
  font-weight: bold;
  color: rgb(158, 212, 139);
}